<div class="container">
    <footer class="py-5">
        <hr>
        <div class="row">
            <div class="col-md-2 col-sm-12 text-sm-center">
                <h5>Sección A</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-sm-12 text-sm-center">
                <h5>Sección B</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-sm-12 text-sm-center">
                <h5>Sección C</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>
            <hr class="d-md-none">
            <div class="col-md-4 offset-md-1 col-sm-12 text-sm-center">
                <form>
                    <h5>Suscribirse a nuestro boletín de noticias</h5>
                    <p>Resumen mensual de nuestras novedades.</p>
                    <div class="d-flex w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Correo electrónico</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Correo electrónico">
                        <button class="btn btn-primary" type="button">Subscribirse</button>
                    </div>
                </form>
            </div>
        </div>
    </footer>
</div>
<div class="text-center p-3 bg-muted">
    © 2022 Copyright:
    <a class="text-white" href="https://github.com/Mcastilloa" target="_blank">https://github.com/Mcastilloa</a>
</div>