/* You can add global styles to this file, and also import other style files */
$color-primary: #ed1c27;
$color-muted: #595959;


.bg-primary {
    background-color: $color-primary !important;
}

.bg-muted {
    background-color: $color-muted;
}

.btn-primary, .btn-primary:hover {
    background-color: $color-primary;
    border-color: $color-primary;
}

@media only screen and (max-width: 600px) {
    .py-sm-2 {
        padding: 10px 0;
    }

    .text-sm-center {
        text-align: center;
    }

    .list-group-item {
        padding: 10px 0;
    }

    footer.py-5 {
        padding: 0 10px 48px !important;
    }
}